
.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

div.menu {
    z-index: 999;
    background-color: #ced7de;
    border-bottom: #c2cad1 3px solid;
    width: 100%;
    height: 40px;
    position: fixed;
}

div.menu_drop_down {
    width: 100%;
    top: 40px;
    position: fixed;
    z-index: 998;
    background-color: #c2cad1;
    border-bottom: #7f9da1 solid 3px;
}

div.drop_menu_icon {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: white;
}


a.menu_links {
    color: #707070;
    text-decoration: none;
    margin: 2px 17px 2px 0;
    font-size: 15px;
    float: right;
}

div.drop_menu_wrapper {
    padding-left: 10px;
    padding-top: 11px;
    float: left;
}

div.drop_menu_wrapper:hover {
    cursor: pointer;
}

p.menu_text {
    float: right;
    font-size: 20px;
    margin: 10px;
}

div.social_media_wrapper {
    flex-basis: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid #bcbcbc 1px;
}

div.footer_links_wrapper {
    /*text-align: center;*/
    flex-basis: 50%;
    max-width: 300px;
}

a.footer_links {
    color: #707070;
    font-size: 20px;
    margin-top: -10px;
    text-decoration: none;
}

div.footer_links_centering {
    display: inline-block;
    position: relative;
    left: calc(50%);
    transform: translateX(-50%);
}

footer.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0;
    background-color: #d3d3d3;
    border-top: #bcbcbc 3px solid;
}

a.home {
    float: right;
    font-size: 20px;
    margin: 10px;
    color: #707070;
    text-decoration: none;
}

a.social_media_link {
    text-decoration: none;
}

body {
    margin: 0;
    background: #f5fff9;
    font-family: Calibri, serif;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

img.social_media_icon {
    height: 20px;
}