h2.left_box_header {
    font-size: 70%;
    margin: 0;
}

p.left_box_para {
    font-size: 50%;
    margin: 0;
}

div.left_text_wrapper {
    background: rgba(255, 255, 255, 0.5);
    top: 50vh;
    padding: 20px;
    float: left;
    margin-left: 10%;
    position: relative;
    box-sizing: border-box;
}

.parallax_wrapper {
    position: absolute;
    perspective: 1px;
}

.bg_image_1,
.bg_image_2,
.bg_image_3,
.bg_image_4 {
    height: 140vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg_image_1 {
    background-position-y: -330px;
    background-image: url("../img/hiking.jpg");
}

.bg_image_2 {
    background-position-y: -100px;
    background-image: url("../img/freeride.jpg");
}

.bg_image_3 {
    background-position-y: -150px;
    background-image: url("../img/cabin.jpg");
}

.bg_image_4 {
    background-position-y: -210px;
    background-image: url("../img/trail.jpg");
}

div.bg_image_wrapper {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh
}

div.start_bg_image_wrapper {
    overflow: hidden;
    max-height: 120vh;
    height: 120vh;
}
.content_wrapper {
    height: 100vh;
    width: 100vw;
}
div.right_text_wrapper {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    top: 80vh;
    float: right;
    margin-right: 10%;
    position: relative;
    box-sizing: border-box;
}

h2.right_box_header {
    font-size: 25px;
    margin: 0;
}

p.right_box_para {
    margin: 0;
}

body {
    overflow-x: hidden;
}