/*LEFT TEXT BOX */

h2.left_box_header {
    font-size: 70%;
    margin: 0;
}

p.left_box_para {
    font-size: 50%;
    margin: 0;
}

div.left_text_wrapper {
    background: rgba(255, 255, 255, 0.5);
    top: 50vh;
    padding: 20px;
    float: left;
    margin-left: 10%;
    position: relative;
    box-sizing: border-box;
}

/*END TEXT LEFT BOX*/

/*---------------------*/

/*RIGHT TEXT BOX*/

p.right_box_para {
    margin: 0;
}

h2.right_box_header {
    font-size: 25px;
    margin: 0;
}

div.right_text_wrapper {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    top: 80vh;
    float: right;
    margin-right: 10%;
    position: relative;
    box-sizing: border-box;
}

/*END RIGHT TEXT BOX*/

/*---------------------*/

/*PARALLAX*/
#parallax_wrapper {
    position: absolute;
}

div.bg_image_1,
div.bg_image_2,
div.bg_image_3 {
    height: 140vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div.bg_image_1 {
    background-position-y: -330px;
    background-image: url("../img/hiking.jpg");
}

div.bg_image_2 {
    background-position-y: -100px;
    background-image: url("../img/freeride.jpg");
}

div.bg_image_3 {
    background-position-y: -150px;
    background-image: url("../img/cabin.jpg");
}

div.bg_image_4 {
    background-image: url("../img/trail.jpg");
    background-position: center;
    background-size: cover;
}

div.start_bg_image_wrapper {
    overflow: hidden;
    max-height: 120vh;
    height: 120vh;
}

div.bg_image_wrapper {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh
}

div.end_bg_image_wrapper {
    position: relative;
    overflow: hidden;
}

/*END BACKGROUND*/

/*---------------------*/

/*OTHER*/

div.content_wrapper {
    height: 100vh;
}

body {
    overflow-x: hidden;
}