div.banner {
    background-image: url("../img/mountain_panorama.jpg");
    background-size: cover;
    background-position: center;
    min-height: 250px;
    max-height: 300px;
    padding-bottom: 10%;
    margin-top: 100px;
    position: relative;
}

#title_info_section {
    margin: 50px 0;
    text-align: center;
    padding: 0 12%;
}

h1.title_header {
    font-size: large;
}

p.title_paragraph {
    font-size: smaller;
}

div.category_hiking_wrapper,
div.category_lodging_wrapper,
div.category_forest_wrapper,
div.category_skiing_wrapper {
    height: 35vh;
}

div.category_column {
    min-width: 400px;
    padding: 0;
}

div.category_wrapper {
    margin-bottom: 50px;
}

div.category_hiking_wrapper:hover,
div.category_lodging_wrapper:hover,
div.category_forest_wrapper:hover,
div.category_skiing_wrapper:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media (min-width: 577px) {
    div.category_hiking_wrapper,
    div.category_lodging_wrapper,
    div.category_forest_wrapper,
    div.category_skiing_wrapper {
        background-size: cover;
        background-position: center;
        margin: 0 5px 10px 5px;
        position: relative;
        transition: opacity .2s ease-in-out;
    }
}

div.category_lodging_wrapper {
    background-image: url("../img/lodge.JPG");
}

div.category_hiking_wrapper {
    background-image: url("../img/lake.jpg");
}

div.category_hiking_wrapper:hover {
    cursor: pointer;
}

div.category_forest_wrapper {
    background-image: url("../img/forest.jpg");
}

div.category_skiing_wrapper {
    background-image: url("../img/skiing.JPG");
}


div.category_text_wrapper {
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    width: 100%;
    padding: 3px 10px;
    margin: 0;
    position: absolute;
    bottom: 10px;
    font-size: 17px;
}

h2.category_header {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

p.category_paragraph {
    font-size: 14px;
    margin: -4px 0 0 0;
}

@media (max-width: 576px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .row {
        margin: 0;
    }

    .category_hiking_wrapper,
    .category_skiing_wrapper,
    .category_lodging_wrapper,
    .category_forest_wrapper {
        margin: 5px 0;
    }
}